body {
  font-family: Arial;
  margin: 40px;
}

input, textarea {
  margin: 5px 0;
  padding: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
button {
  padding: 10px 20px;
}
